.anime {
  color: blanchedalmond;
}
.character {
  color: beige;
  font-size: 1.5rem;
}

.quote {
  font-size: 3.5rem;
  color: gray;
}

.card {
  text-align: center;
  width: 75%;
  /* height: 100%; */
  min-height: fit-content;
  margin: 3rem auto;
}

.content {
  padding: 0 5rem;
  height: 100%;
}

@media screen and (max-width: 460px) {
  .content {
    padding: 1rem;
  }
  .card {
    width: 100%;
  }
}
