.card {
  background: #32383e;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}
.card_body {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}

.card_header {
  display: block;
  position: relative;
  height: 160px;
  overflow: hidden;
}

.card_data {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-self: start;
  align-self: flex-start;
}

.card_audio {
  width: 30%;
  /* align-items: center; */
  /* margin-top: 20px; */
  /* display: flex;
  justify-items: center; */
  padding: 1.5rem;
  /* overflow: hidden; */
  border-radius: 50%;
  background-color: rgba(35, 35, 56, 0.377);
}

.audio_res {
  display: none;
}
.music_icon {
  font-size: 3rem;
  width: 100%;
  align-self: center;
  color: #1e2221;
  z-index: 100;
}

@supports (aspect-ratio: 16 / 10) {
  .card_header {
    aspect-ratio: 16 / 10;
    height: initial;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  color: #aaaaaa;
  font-size: 2rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title:hover {
  color: #cfcfcf;
  text-decoration: underline;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_footer {
  margin-top: 10px;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.card_footer div {
  display: flex;
  align-items: center;
}

.badge {
  display: inline-block;
  font-size: 1.2rem;
  padding: 2px 8px;
  border-radius: 8px;
  background-color: #7a8288;
  color: #000000;
  font-weight: 700;
  margin-right: 1rem;
}

.platform_icon {
  display: inline-block;
  color: #7a8288;
  font-size: 2rem;
}

.btn {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.heart_icon {
  color: #aaaaaa;
  font-size: 2.3rem;
}

.heart_icon:hover {
  color: #fff;
}
